.course-card {
    transition: all 0.3s ease;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: -18rem;
    width: 15.5rem;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition: all 0.3s ease;
}
.course-card:hover .card-overlay {
    left: 0;
}